{% extends "base.html" %} {% block content %}

<h1>Split Pdf</h1>
<form action="/split_pdf" method="post" enctype="multipart/form-data" class="form">
    <label for="file">Select a file: </label>
    <input type="file" id="file" required name="file"/><br><br>
    
    <label for="start_page">Start Page: </label>
    <input type="number" name="start_page" required id="start_page"><br><br>
    
    <label for="end_page">End Page: </label>
    <input type="number" name="end_page" required id="end_page"><br><br>
    
    <input type="submit" placeholder="Submit">
</form>

{% if out_file %}
    <!-- <button type="button" onclick="{{ out_file }}">Download Splitted pdf</button> -->
    <!-- <a href="{{ out_file }}">Download Splitted pdf</a> -->
    <object data="{{ out_file }}"></object>
{% elif error %}
    <p>Please report this  {{ error }}  error to <a href="https://github.com/pingalpie/pdf-manipulator">Issues</a> </p>
{% endif %}


{% endblock %}
