{% extends "base.html" %} {% block content %}

<h1>Stamp Pdf</h1>
<form action="/stamp" method="post" enctype="multipart/form-data" class="form">
    <label for="stamp_file">Select a file to be used in stamp (must be pdf): </label>
    <input type="file" id="stamp_file" required name="file"/><br><br>
    
    <label for="mainFile">Select file on which stamp to be applied: </label>
    <input type="file" name="mainFile" required id="mainFile"><br><br>
    
    <input type="submit" placeholder="Submit">
</form>

{% if out_file %}
    <!-- <button type="button" onclick="{{ out_file }}">Download Splitted pdf</button> -->
    <!-- <a href="{{ out_file }}">Download Splitted pdf</a> -->
    <object data="{{ out_file }}"></object>
{% elif error %}
    <p>Please report this  {{ error }}  error to <a href="https://github.com/pingalpie/pdf-manipulator">Issues</a> </p>
{% endif %}


{% endblock %}
